/* Centrare il titolo h1 */
h1 {
    text-align: center; /* Allinea il testo al centro orizzontale */
    margin-top: 50px; /* Distanza sopra il titolo */
    font-size: 3em; /* Puoi regolare la dimensione come vuoi */
}
/* Reset base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo del sito */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000000; /* nero assoluto */
    color: #E0E0E0; /* grigio chiaro */
    line-height: 1.6;
    padding: 20px;
}

/* Link */
a {
    color: #8B0000; /* rosso scuro */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Sezioni */
section {
    margin-bottom: 40px;
}

h1, h2, h3 {
    margin-bottom: 15px;
}

.claim {
    font-style: italic;
    color: #B22222; /* rosso leggermente più chiaro */
}

ul {
    list-style-type: none;
}

ul li {
    margin-bottom: 10px;
}

/* Footer */
footer {
    margin-top: 50px;
    font-size: 0.9em;
    text-align: center;
    color: #555555;
}

